*{
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #61acfd;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: larger;
}
#navBotones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header{
    background-color: #007bff;
    width: 100%;
    z-index: 999;
    position: fixed;
    padding: 25px;
}

#contFormMain{
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-top: 160px;
}
#contDatosAgenda{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
    padding-top: 160px;
}
.tarjeta {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 200px;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
}
.fotoUser {
    align-self: flex-end;
    border-radius: 25%;
    object-fit: cover;
}
.contacto h2 {
    font-size: 18px;
    margin-top: 0;
}
.contacto p {
    margin: 5px 0;
    font-size: 14px;
}
.botonJquery{
    align-self: flex-end;
}

/* Formulario */
#contFormMain {
    visibility: hidden;
    padding: 30px;
    padding-right: 40px;
    max-width: 600px;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow:  4px 4px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

input[type="text"], 
select, 
input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: translateY(1px);
}

#mostrarC {
    background-color: #28a745;
    color: white;
}

#nuevoC {
    background-color: #ffc107;
    color: black;
}

#modificarC {
    background-color: #17a2b8;
    color: white;
}

#borrarC {
    background-color: #dc3545;
    color: white;
}
